<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunpuvip.pms.modular.system.dao.HoursMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yunpuvip.pms.modular.system.model.Hours">
        <id column="id" property="id" />
        <result column="pid" property="pid" />
        <result column="hid" property="hid" />
        <result column="uid" property="uid" />
        <result column="hours" property="hours" />
        <result column="comment" property="comment" />
        <result column="createtime" property="createtime" />
        <result column="updatetime" property="updatetime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, pid, hid, uid, hours, comment, createtime, updatetime
    </sql>

    <select id="selectProject" resultType="map">
        select * from biz_project
    </select>

    <select id="selectProjectPhase" resultType="map">
        select * from biz_project_phase
    </select>

</mapper>
