<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunpuvip.pms.modular.biz.dao.ProjectPhaseMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yunpuvip.pms.modular.system.model.ProjectPhase">
        <id column="id" property="id" />
        <result column="phase_code" property="phaseCode" />
        <result column="phase_name" property="phaseName" />
        <result column="description" property="description" />
        <result column="createtime" property="createtime" />
        <result column="updatetime" property="updatetime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, phase_code AS phaseCode, phase_name AS phaseName, description, createtime, updatetime
    </sql>

    <select id="selectProjectPhase">
        select phase_name from biz_project_phase
        where id = #{id}
    </select>
</mapper>

