@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>员工工时管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-3">
                                <#NameCon id="condition" name="名称" />
                            </div>
                            <div class="col-sm-3">
                                <#button name="搜索" icon="fa-search" clickFun="Hours.search()"/>
                            </div>
                        </div>
                        <div class="hidden-xs" id="HoursTableToolbar" role="group">
                            @if(shiro.hasPermission("/hours/add")){
                                <#button name="添加" icon="fa-plus" clickFun="Hours.openAddHours()"/>
                            @}
                            @if(shiro.hasPermission("/hours/update")){
                                <#button name="修改" icon="fa-edit" clickFun="Hours.openHoursDetail()" space="true"/>
                            @}
                            @if(shiro.hasPermission("/hours/delete")){
                                <#button name="删除" icon="fa-remove" clickFun="Hours.delete()" space="true"/>
                            @}
                        </div>
                        <#table id="HoursTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/hours/hours/hours.js"></script>
@}
