@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal" id="hoursInfoForm">

            <input type="hidden" id="id" value="">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="pidSel" name="项目" underline="true" readonly="readonly" hidden="pid"
                                    clickFun="HoursInfoDlg.showProjectSelectTree(); return false;"
                                    style="background-color: #ffffff !important;"/>

                            <#input id="hid" name="阶段" underline="true" readonly="readonly" hidden="phaseid"
                                    clickFun="HoursInfoDlg.showPhaseSelectTree(); return false;"
                                    style="background-color: #ffffff !important;"/>


                            <#input id="uid" name="人员"/>
                </div>

                <div class="col-sm-6">
                            <#input id="hours" name="小时" underline="true"/>
                            <#input id="comment" name="工时备注" underline="true"/>
                </div>
            </div>

            <!-- 这是项目ID选择的下拉框 -->
            <div id="menuContent" class="menuContent"
                 style="display: none; position: absolute; z-index: 200;">
                <ul id="treeDemo" class="ztree tree-box" style="width: 249px !important;"></ul>
            </div>

            <!-- 这是阶段ID的选择框 -->
            <div id="PhaseMenu" class="menuContent"
                 style="display: none; position: absolute; z-index: 200;">
                <ul id="PhaseMenuTree" class="ztree tree-box" style="width: 245px !important;"></ul>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="HoursInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="HoursInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>

</div>
<script src="${ctxPath}/static/modular/hours/hours/hours_info.js"></script>
@}
