@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <input type="hidden" id="id" value="${item.id}">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <!--<#input id="id" name="" value="${item.id}" underline="true"/>-->
                            <#input id="phaseCode" name="阶段代码" value="${item.phaseCode}" underline="true"/>
                            <#input id="phaseName" name="阶段名称" value="${item.phaseName}" />
                </div>

                <div class="col-sm-6">
                            <#input id="description" name="备注" value="${item.description}" underline="true"/>
                           <!-- <#input id="createtime" name="" value="${item.createtime}" underline="true"/>
                            <#input id="updatetime" name="" value="${item.updatetime}" />-->
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="ProjectPhaseInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="ProjectPhaseInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/project_phase/projectPhase/projectPhase_info.js"></script>
@}
